h3 
{
    font-size:25px ! important ;
}

.btn-success:hover 
{
background-color: red;
}

canvas
{
animation-name:example;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes example 
{
from {bow-shadow: 1px 1px 35px red}
to {bow-shadow: 1px 1px 35px orange}
}